$primaryColor: #007bff;
$completedTaskColor: #555;

.todo-app {
  padding: 2rem;
}

.app-header {
  margin-bottom: 5vh;
}

.list-wrapper {
  display: flex;
  gap: 2rem;
  max-width: 800px; /* Set a fixed maximum width for the parent div */
  margin: 0 auto; /* Center-align the parent div */
}

.todo-list,
.completed-list {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1; /* Allow lists to expand */
  flex-shrink: 0; /* Prevent lists from shrinking */
  max-height: 400px; /* Set a max height for each list */
  flex-basis: 50%; /* Set the initial width to 50% (half of the parent div) */
}

.completed-list {
  min-height: 100px; /* Set a min height for the completed list */
  transition: max-height 0.3s ease-in-out; /* Smooth transition when expanding or collapsing */
}

.todo-list {
  min-height: 100px; /* Set a min height for the task list */
  transition: max-height 0.3s ease-in-out; /* Smooth transition when expanding or collapsing */
}

h2 {
  color: $primaryColor;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    margin: 8px 0;
    justify-content: space-between;

    span {
      text-decoration: none;
      color: $primaryColor;
    }

    button {
      margin-left: 8px;
      background-color: $primaryColor;
      color: white;
      border: none;
      padding: 6px 10px;
      cursor: pointer;

      &:hover {
        background-color: darken($primaryColor, 10%);
      }
    }

    button.cancel {
      background-color: #dc3545;
      &:hover {
        background-color: darken(#dc3545, 10%);
      }
    }
  }
}

.btn-container {
  display: flex;
}